*{
	padding:0px;
	margin:0px;
}
html,body{
	font-size:16px;
	height:100%;
	margin:0px;
}
@font-face {
	font-family: 'iconfont';
	src: url('//at.alicdn.com/t/font_1470146252_0435333.eot'); /* IE9*/
	src: url('//at.alicdn.com/t/font_1470146252_0435333.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('//at.alicdn.com/t/font_1470146252_0435333.woff') format('woff'), /* chrome、firefox */
	url('//at.alicdn.com/t/font_1470146252_0435333.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('//at.alicdn.com/t/font_1470146252_0435333.svg#iconfont') format('svg'); /* iOS 4.1- */
}

#container{
	width:100%;
	min-height:100%;
	overflow:hidden;
	background-color: rgb(242,244,247);
	.head{
		width:100%;
		max-width: 800px;
		height: (91/16/2)+rem;
		background-color:white;
		position:fixed;
		z-index: 5;
		border-bottom:1px solid #e4e4e4;
		@at-root #container .swiper-container {
			width:92%;
			height: (91/16/2)+rem;
			background-color:white;
			.swiper-slide {
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
				box-sizing:border-box;
				font:{size:(14/16)+rem;family:SimHei;}
				color:black;
				white-space: nowrap;
				overflow:hidden;
			}
			@at-root #container .swiper-slide.active{
				font:{size:(16/16)+rem;}
				color:rgb(19,174,47);
				border-bottom:1px solid rgb(19,174,47);
			}
		}
	}
	.body{
		width:100%;
		margin:0 auto;
		margin-top: (92/16/2)+rem;
		font-size: 0px;
	}
	.thumb_nail{
		width:100%;
		background-color: white;
		position:relative;
		margin-bottom: (11/16)+rem;
		.pic{
			width:100%;
			height:(320/16/2)+rem;
			background:url("../images/recommend.png") no-repeat 0px 0px;
			background-size: 100% 100%;
		}
		.price{
			width:100%;
			height:(85/16/2)+rem;
			font-size: 0px;
		}
		.subject{
			max-width: 60%;
			display:inline-block;
			line-height:(85/16/2)+rem;
			height:(85/16/2)+rem;
			overflow:hidden;
			box-sizing: border-box;
			padding-left: 3%;
			color:rgb(51,51,51);
			font:{
				size:1rem;
				family: "Microsoft YaHei";
			}
		}
		a{
			position:absolute;
			display:block;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			-webkit-tap-highlight-color: rgba(255,0,0,0);
		}
		p{
			display:inline-block;
			float:right;
			max-width:40%;
			padding-right:3%;
			overflow: hidden;
			height:(85/16/2)+rem;
			line-height: (85/16/2)+rem;
			color:rgb(153,153,153);
			font:{
				size:(12/16)+rem;
				family: "Microsoft YaHei";
			}
			.icon{
				color:rgb(255,70,60);
				font:{
					size:(12/16)+rem;
				}
			}
			.number{
				color:rgb(255,70,60);
				font:{
					size:(24/16)+rem;
					family: "Microsoft YaHei";
				}
			}
		}
	}
}
#container1{
	width:100%;
	min-height:100%;
	overflow:hidden;
	position:relative;
	background-color: rgb(242,244,247);
	.top{
		width:100%;
		background-color: rgb(242,244,247);
		.head{
			width:100%;
			height:(360/16/2)+rem;
			background:url("../images/product_info.png") no-repeat 0px 0px;
			background-size: 100% 100%;
		}
		.subject_intro{
			width:100%;
			box-sizing: border-box;
			padding:3%;
			padding-bottom: (40/16)+rem;
			font-size: 0px;
			background-color: white;
			@at-root #container1 .top h1{
				width:100%;
				text-align: left;
				color:rgb(51,51,51);
				max-height:2.4rem;
				overflow: hidden;
				margin-bottom: 2%;
				font:{
					size:1rem;
					family: "SimHei";
				}
			}
			@at-root #container1 .top .price{
				display: inline-block;
				width:50%;
				float: left;
				overflow: hidden;
				@at-root #container1 .top p{
					width:100%;
					text-align: left;
					color:rgb(153,153,153);
					font:{
						size:(12/16)+rem;
						family: "SimHei";
					}
					@at-root #container1 .top .icon{
						color:red;
						font:{
							size:(12/16)+rem;
							family: "SimHei";
						}
					}
					@at-root #container1 .top .num{
						color:red;
						font:{
							size:(24/16)+rem;
							family: "SimHei";
						}
					}
				}
			}
		}
	}
	.main{
		width:100%;
		background-color: white;
		margin-top: (11/16)+rem;
		padding:{
			top:3%;
			bottom:3%;
		}
		h2{
			width:100%;
			box-sizing:border-box;
			padding-left: 3%;
			padding-right: 3%;
			line-height: 1.5;
			margin:0 auto;
			font:{
				size:(14/16)+rem;
				//family: "Microsoft YaHei";
				family: "Sim Hei";
				//weight: normal;
			}
		}
		p{
			width:100%;
			padding-left: 3%;
			padding-right:3%;
			box-sizing:border-box;
			line-height: 1.5;
			color:rgb(102,102,102);
			font:{
				size:(12/16)+rem;
				family:"Microsoft YaHei";
			}
		}
	}
	.display_pic{
		width:100%;
		height:(473/16/2)+rem;
		background:url("../images/product_info2.png") no-repeat 0px 0px;
		background-size: 100% 100%;
	}
	.bottom{
		position:fixed;
		width:100%;
		height:(101/16/2)+rem;
		bottom:0px;
		font-size:0px;
		.order_online{
			display:inline-block;
			-webkit-tap-highlight-color: rgba(255,0,0,0);
			width:50%;
			height:100%;
			color:white;
			text-align: center;
			text-decoration: none;
			line-height:(101/16/2)+rem;
			background-color: rgb(19,174,47);
			font:{
				size:1rem;
				family: "Microsoft YaHei";
			}
		}
		.call{
			display:inline-block;
			text-decoration: none;
			text-align:center;
			color:rgb(102,102,102);
			background-color: rgb(242,244,247);
			-webkit-tap-highlight-color: rgba(255,0,0,0);
			width:50%;
			height:100%;
			font:{
				size:1rem;
				family: "Microsoft YaHei";
			}
			line-height:(101/16/2)+rem;
		}
	}
}
#container2{
	width:100%;
	min-height:100%;
	overflow: hidden;
	background-color: rgb(242,244,247);
	.case{
		padding:4%;
		background-color: white;
		margin-top: (11/16)+rem;
		h1{
			width:100%;
			height:1rem;
			overflow: hidden;
			font:{
				size:(14/16)+rem;
			}
		}
		.picture{
			width:100%;
			height:(290/16/2)+rem;
			background:url("../images/success1.png") no-repeat 0px 0px;
			background-size: 100% 100%;
			margin-top: 4%;
		}
	}
}
#container4{
	width:100%;
	min-height:100%;
	text-align:center;
	overflow:hidden;
	.head{
		width:100%;
		max-width: 800px;
		height: (91/16/2)+rem;
		background-color:rgb(19,174,47);
		position:fixed;
		z-index: 5;
		@at-root #container4 .swiper-container {
			width:92%;
			height: (91/16/2)+rem;
			background-color:rgb(19,174,47);
			.swiper-slide {
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
				box-sizing:border-box;
				font:{size:(15/16)+rem;family:SimHei;}
				color:white;
				white-space: nowrap;
				overflow:hidden;
			}
			.active{
				font-size: (17/16)+rem;
				border-bottom: 1px solid white;
			}
		}
	}
	div.pic{
		width:100%;
		margin-top: (91/16/2)+rem;
		height:(175/16/2)+rem;
		background:url(../images/about_us.png) no-repeat 0px 0px;
		background-size: 100% 100%;
	}
	h1{
		width:100%;
		color:rgb(51,51,51);
		margin:{
			top:(30/16/2)+rem;
		}
		font:{
			size:(16/16)+rem;
			family: SimHei;
			weight:normal;
		}
	}
	h2{
		width:100%;
		color:rgb(51,51,51);
		font:{
			size:(14/16)+rem;
			family: "SimHei";
			weight:normal;
		}
		text-align: left;
	}
	.paragraph{
		width:94%;
		margin:0 auto;
		line-height: 1.5;
		color:rgb(102,102,102);
		text-align: left;
		margin-bottom: (5/16)+rem;
		font:{
			size:(14/16)+rem;
			family: SimHei;
		}
	}
}
#container5{
	width:100%;
	min-height:100%;
	overflow:hidden;
	.head{
		width:100%;
		max-width: 800px;
		height: (91/16/2)+rem;
		background-color:rgb(19,174,47);
		position:fixed;
		z-index: 5;
		border-bottom:1px solid #e4e4e4;
		@at-root #container5 .swiper-container {
			width:92%;
			height: (91/16/2)+rem;
			background-color:rgb(19,174,47);
			.swiper-slide {
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
				box-sizing:border-box;
				font:{size:(14/16)+rem;family:SimHei;}
				color:white;
				white-space: nowrap;
				overflow:hidden;
			}
			@at-root #container5 .swiper-slide.active{
				font:{size:(16/16)+rem;}
				border-bottom:1px solid white;
			}
		}
	}
	.main{
		width:100%;
		margin-top: (91/16/2)+rem;
		padding:0 3% 3% 3%;
		box-sizing: border-box;
		.news{
			border-bottom: 1px solid rgb(221,221,221);
			padding-bottom: 3%;
			position:relative;
			a{
				position:absolute;
				width:100%;
				height:100%;
				-webkit-tap-highlight-color: rgba(255,0,0,0);
			}
			h1{
				width:100%;
				height:(79/16/2)+rem;
				overflow:hidden;
				line-height:(79/16/2)+rem;
				color:rgb(51,51,51);
				font:{
					size:(18/16)+rem;
					family: "SimHei";
					weight:normal;
				}
			}
			.picture{
				width:100%;
				height:(290/16/2)+rem;
				margin-bottom: 0.3rem;
				background:url("../images/news.png") no-repeat 0px 0px;
				background-size: 100% 100%;
			}
			span{
				width:100%;
				display:block;
				text-align: right;
				color:rgb(153,153,153);
				font:{
					size:(12/16)+rem;
					family: "Microsoft YaHei";
				}
			}
		}
	}
}
#container6{
	width:100%;
	min-height:100%;
	background-color:rgb(242,244,247);
	overflow:hidden;
	.recruit{
		width:100%;
		margin-bottom: (20/16/2)+rem;
		background-color:white;
		padding-top: (15/16)+rem;
		padding-bottom:(5/16)+rem;
		h1{
			width: 92%;
			margin:0 auto;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font:{
				size:(14/16)+rem;
				family:SimHei;
			}
		}
		p{
			width:92%;
			margin:0 auto;
			margin-top: (20/16/2)+rem;
			font:{
				size:(12/16)+rem;
				family:SimHei;
			}
		}
		.date>span{
			color:rgb(123,123,123);
		}
		.num>span{
			color:rgb(19,174,47);
		}
		ol{
			width:92%;
			margin: 0 auto;
			margin-top:(10/16)+rem;
			li{
				display: none;
				list-style-type:none;
				list-style-position: inside;
				counter-increment:mycount;
				line-height: 1.5;
				color:rgb(123,123,123);
				font:{
					size:(10/16)+rem;
					family:SimHei;
				}

			}
			li:before{
				content: counter(mycount,decimal)".";
			}
			li:first-child{display:block!important;};
		}
		.iconfont{
			width:92%;
			margin:0 auto;
			margin:{
				top:(5/16)+rem;
			}
			display: block;
			text-align: center;
			font-family:"iconfont";
			font-size:(12/16)+rem;
			font-weight: bold;
			font-style:normal;
			color:rgb(123,123,123);
		}
	}
}
#container7{
	width:100%;
	min-height:100%;
	text-align:center;
	overflow:hidden;
	h1{
		overflow: hidden;
		height: 1.2rem;
		line-height: 1.2rem;
		margin:{
			top:(30/16/2)+rem;
			bottom:(20/16/2)+rem;
		}
		font:{
			size:1rem;
		}
	}
	h5{
		margin-bottom: (13/16)+rem;
		color:rgb(201,201,201);
		font:{
			size:(12/16)+rem;
			weight: normal;
		}
	}
	.pic {
		border:1px solid rgb(221,221,221);
		width: (577/16/2)+rem;
		height: (238/16/2)+rem;
		margin:0 auto;
		background:url("../images/index.png") no-repeat 0px 0px;
		background-size: 100% 100%;
	}
	.word{
		width: (577/16/2)+rem;
		margin:0 auto;
		padding-top: (15/16)+rem;
		p{
			text-align: left;
			text-indent: 2rem;
			line-height: 1.5;
			font:{
				size:(14/16)+rem;
				family:SimHei;
			}
			&:last-child{
				margin-bottom: (15/16)+rem;
			}
		}
	}
}
#container8{
	width:100%;
	min-height:100%;
	overflow:hidden;
	h1{
		width: 100%;
		height: 1rem;
		overflow: hidden;
		text-align: center;
		margin-top: 0.9375rem;
		font-size: 1rem;
		font-family: SimHei;
		margin-bottom: 0.625rem;
	}
	h2{
		width: 100%;
		height: 0.625rem;
		overflow: hidden;
		text-align: center;
		color: #999999;
		margin-bottom: 1.25rem;
		font-size: 0.625rem;
	}
	p{
		width:92%;
		margin:0 auto;
		line-height: 1.5;
		//margin-bottom: (15/16)+rem;
		font:{
			size:(14/16)+rem;
			family:SimHei;
		}
		text-indent: 2rem;
	}
}
#container9{
	width:100%;
	height: 100%;
	position:relative;
	padding-bottom:(500/16/2)+rem;
	box-sizing: border-box;
	.lunbo{
		width:100%;
		height:(303/16/2)+rem;
		overflow: hidden;
		position:relative;
		list-style-type: none;
		li{
			width:100%;
			height:100%;
			position:absolute;
			img{
				width:100%;
				height:100%;
			}
		}
	}
	.shadow{
		width:100%;
		height:(61/16/2)+rem;
		margin-top: -(61/16/2)+rem;
		position:relative;
		span{
			color:white;
			margin-left: 4%;
			line-height: (61/16/2)+rem;
			font:{
				size:(14/16)+rem;
				family: "SimHei";
			}
		}
		.count{
			width:100%;
			height:100%;
			display: inline-block;
			display:-webkit-box;
			display:-webkit-flex;
			display:flex;
			-webkit-justify-content: center;
			justify-content: center;
			list-style-type: none;
			text-align: center;
			li{
				float: left;
				margin-right: (10/16)+rem;
				margin-top: (25/16/2)+rem;
				height:(10/16/2)+rem;
				width:(10/16/2)+rem;
				border-radius: 50%;
				background-color: white;
			}
			.active{
				background-color: rgb(19,174,47);
			}
		}
	}
	.menu{
		font-size:0;
		padding-bottom: (111/16/2)+rem;
		box-sizing: border-box;
		.part{
			display:inline-block;
			width:45%;
			height:(194/16/2)+rem;
			margin-left:3.3%;
			margin-top: 3.3%;
			position:relative;
			border-radius: (5/16)+rem;
		}
		a{
			position:absolute;
			width:100%;
			height:100%;
			-webkit-tap-highlight-color: rgba(255,0,0,0);
		}
		span{
			position:absolute;
			width:100%;
			bottom:10%;
			text-align: center;
			color:white;
			height: 1.2rem;
			line-height: 1.2rem;
			overflow: hidden;
			font:{
				size:1rem;
				family: "Microsoft YaHei";
			}
		}
		.part1{
			background:url("../images/index1.png") no-repeat center 25%;
			background-size: (72/16/2)+rem (94/16/2)+rem;
			background-color: rgb(255,24,0);
		}
		.part2{
			background:url("../images/index2.png") no-repeat center 25%;
			background-size: (94/16/2)+rem (82/16/2)+rem;
			background-color: rgb(255,81,20);
		}
		.part3{
			background:url("../images/index3.png") no-repeat center 25%;
			background-size: (88/16/2)+rem (90/16/2)+rem;
			background-color: rgb(240,151,23);
		}
		.part4{
			background:url("../images/index4.png") no-repeat center 25%;
			background-size: (94/16/2)+rem (68/16/2)+rem;
			background-color: rgb(206,18,208);
		}
		.part5{
			background:url("../images/index5.png") no-repeat center 25%;
			background-size: (94/16/2)+rem (81/16/2)+rem;
			background-color: rgb(255,31,155);
		}
		.part6{
			background:url("../images/index6.png") no-repeat center 25%;
			background-size: (66/16/2)+rem (88/16/2)+rem;
			background-color: rgb(242,98,11);
		}
		.part7{
			background:url("../images/index7.png") no-repeat center 25%;
			background-size: (93/16/2)+rem (86/16/2)+rem;
			background-color: rgb(238,27,60);
		}
		.part8{
			background:url("../images/index8.png") no-repeat center 25%;
			background-size: (79/16/2)+rem (94/16/2)+rem;
			background-color: rgb(34,182,226);
		}
		.part9{
			background:url("../images/index9.png") no-repeat center 25%;
			background-size: (94/16/2)+rem (73/16/2)+rem;
			background-color: rgb(126,198,0);
		}
		.part10{
			background:url("../images/index10.png") no-repeat center 25%;
			background-size: (80/16/2)+rem (94/16/2)+rem;
			background-color: rgb(92,111,255);
		}
	}
}
#container3{
	width:100%;
	min-height: 100%;
	overflow: hidden;
	background-color: rgb(242,244,247);
	padding-bottom: (122/16/2)+rem;
	box-sizing: border-box;
	#wrap{
		width:100%;
		height: (480/16/2)+rem;
		position:fixed;
		left:0px;
		top:0px;
		z-index: 5;
		background-color:white;
		border-bottom:1px solid rgb(221,221,221);
		.amap-logo img{
			display:none;
		}
		.amap-copyright{
			display:none;
		}
	}
	#panel{
		width:100%;
		margin-top: (502/16/2)+rem;
		background-color: rgb(242,244,247);
		.amap_lib_placeSearch_list{
			ul{
				width:100%;
				margin:0 auto;
				background-color: rgb(242,244,247);
				li.poibox{
					width:100%;
					height:(124/16/2)+rem;
					padding:0px;
					position:relative;
					margin-top: (21/16/2)+rem;
					background-color: white;
					.poi-info{
						display: none;
					}
					.poibox-icon{
						width:(116/16/2)+rem;
						height:(124/16/2)+rem;
						display:inline-block;
						margin-left:(494/16/2)+rem;
						background:url("../images/guide.png") no-repeat 50% 50%;
						background-size: (32/16/2)+rem (42/16/2)+rem;
					}
					.poi-title{
						display:inline-block;
						width:(464/16/2)+rem;
						line-height: (124/16/2)+rem;
						height:100%;
						overflow: hidden;
						color:rgb(51,51,51);
						box-sizing: border-box;
						span{
							font:{
								size:(14/16)+rem;
								family: SimHei;
							}
							line-height: (88/16/2)+rem;
						}
						a{
							display: none;
						}
					}
				}
			}
		}
		.amap_lib_placeSearch_page{
			display: none;
		}
		.amap_lib_placeSearch{
			border:none;
		}
		.amap_lib_placeSearch_poi{
			background:url(../images/guide.png) no-repeat 0px 0px;
			background-size: (15/16)+rem (25/16)+rem;
			height:(31/16)+rem;
			width:(19/16)+rem;
			left:(-1/16)+rem;
			font-size:0px;
		}
		.poibox{
			font-size:(12/16)+rem;
			min-height:(48/16)+rem;
		}
		.amap_lib_placeSearch .poibox .poi-info p{
			line-height: (20/16)+rem;
		}
		.poi-title{
			font-size:(13/16)+rem;
			margin-left: (25/16)+rem;
		}
	}
}
.nav{
	width:100%;
	max-width: 800px;
	height: (101/16/2)+rem;
	background-color:white;
	position:fixed;
	z-index: 999;
	bottom:0px;
	ul{
		width:100%;
		height: 100%;
		list-style-type: none;
		li{
			width:20%;
			height: 100%;
			float: left;
			text-align: center;
			a{
				display: block;
				width:100%;
				height: 100%;
				text-decoration: none;
				-webkit-tap-highlight-color: rgba(255,0,0,0);
				.iconfont{
					display: block;
					font-family:"iconfont";
					font-weight: bold;
					height:1.2rem;
					font-size:(16/16)+rem;
					font-style:normal;
					color:rgb(125,130,136);
					margin-top: (7/16)+rem;
					margin-bottom: (7/16)+rem;
				}
				span{
					display: block;
					color:rgb(125,130,136);
					font:{
						size:(10/16)+rem;
						family:SimHei;
					}
				}
			}
			&.active .iconfont,&.active span{
				color:rgb(19,174,47);
			}
		}

	}
}
#container11{
	width:100%;
	min-height:100%;
	overflow:hidden;
	background-color: rgb(242,244,247);
	padding-bottom: (111/16/2)+rem;
	box-sizing: border-box;
	.message{
		width:(576/16/2)+rem;
		margin:0 auto;
		height:(122/16/2)+rem;
		background-color:white;
		overflow: hidden;
		margin-top: 1rem;
		border:1px solid rgb(19,174,47);
		box-sizing: border-box;
		border-radius: (5/16)+rem;
		a{
			width:100%;
			display: inline-block;
			height:100%;
			position:relative;
			text-decoration: none;
			color:rgb(29,189,239);
			-webkit-tap-highlight-color: rgba(255,0,0,0);
			font-size:0px;
			.company{
				display:block;
				width:80%;
				line-height:(122/16/2)+rem;
				padding-left: 3%;
				box-sizing: border-box;
				height:100%;
				overflow: hidden;
				color:rgb(19,174,47);
				font:{
					size:(16/16)+rem;
					family: SimHei;
				}
			}
			.contact{
				width:20%;
				height: 100%;
				position:absolute;
				right:0px;
				top:0px;
				display:inline-block;
				background:url("../images/img.png") no-repeat 50% 125%;
				background-color: rgb(19,174,47);
				background-size: (57/16/2)+rem ;
			}
		}
	}
}
#container12{
		width:100%;
		min-height:100%;
		overflow:hidden;
		background-color: rgb(242,244,247);
		box-sizing: border-box;
		padding-bottom: (111/16/2)+rem;
		.message{
			width:(576/16/2)+rem;
			margin:0 auto;
			height:(122/16/2)+rem;
			background-color:white;
			overflow: hidden;
			margin-top: 1rem;
			border:1px solid rgb(19,174,47);
			box-sizing: border-box;
			border-radius: (5/16)+rem;
			a{
				width:100%;
				display: inline-block;
				height:100%;
				position:relative;
				text-decoration: none;
				color:rgb(29,189,239);
				-webkit-tap-highlight-color: rgba(255,0,0,0);
				font-size:0px;
				.company{
					display:block;
					width:80%;
					line-height:(122/16/2)+rem;
					padding-left: 3%;
					box-sizing: border-box;
					height:100%;
					overflow: hidden;
					color:rgb(19,174,47);
					font:{
						size:(16/16)+rem;
						family: SimHei;
					}
				}
				.contact{
					width:20%;
					height: 100%;
					position:absolute;
					right:0px;
					top:0px;
					display:inline-block;
					background:url("../images/img.png") no-repeat 50% 45%;
					background-color: rgb(19,174,47);
					background-size: (57/16/2)+rem ;
				}
			}
		}
}
#container13{
		width:100%;
		min-height:100%;
		overflow:hidden;
		background-color:rgb(242,244,247);
		padding-bottom: (111/16/2)+rem;
		box-sizing: border-box;
		form{
			margin-bottom:(115/16/2)+rem;
			.wrap{
				width:100%;
				height:(90/16/2)+rem;
				font-size: 0;
				background-color: white;
				border-bottom:1px solid #e4e4e4;
				padding:{
					left:3%;
					top:3px;
					bottom:3px;
					right:3%;
				}
				box-sizing: border-box;
				label{
					color:rgb(51,51,51);
					font:{
						size:1rem;
						family: "Microsoft YaHei";
					}
				}
				input{
					width:85%;
					display: inline-block;
					height:100%;
					box-sizing: border-box;
					line-height: (90/16/2)+rem;
					padding-left:3%;
					outline: none;
					border:none!important;
					font:{
						size:(16/16)+rem;
						family:SimHei;
					}
				}
				input::-webkit-input-placeholder{
					text-align: left;
					color:rgb(204,204,204);
				}
			}
			.wrap_focus{
				border:#87C6F9 1px solid;
				box-shadow: inset 0 0 2px rgba(103, 166, 217, 1);
			}
			textarea{
				display:block;
				width:100%;
				margin:0 auto;
				margin-top: (10/16)+rem;
				border:1px solid rgb(221,221,221);
				font:{
					size:(16/16)+rem;
					family:SimHei;
				}
				resize: none;
				padding-left:3%;
				padding-right: 3%;
				padding-top:2%;
				box-sizing:border-box;
				outline:none;
			}
			textarea:focus{
				border:1px solid #87c6f9;
				box-shadow:inset 0 0 4px rgba(103,166,217,1);
			}
			textarea::-webkit-input-placeholder{
				text-align: left;
				color:rgb(204,204,204);
			}
			button{
				width:90%;
				display:block;
				margin:0 auto;
				margin-top: (20/16)+rem;
				height: (88/16/2)+rem;
				background-color:rgb(19,174,47);
				border-radius:5px;
				border:none;
				color:white;
				font:{
					size:(18/16)+rem;
				}
				-webkit-appearance: none;
			}
		}
}
#container14{
	width:100%;
	min-height:100%;
	overflow: hidden;
	background-color: rgb(242,244,247);
	.case{
		padding:4%;
		background-color: white;
		margin-top: (11/16)+rem;
		position:relative;
		a{
			position:absolute;
			width:100%;
			height:100%;
			-webkit-tap-highlight-color: rgba(255,0,0,0);
		}
		h1{
			width:100%;
			height:1rem;
			overflow: hidden;
			font:{
				size:(14/16)+rem;
			}
		}
		h2{
			width:100%;
			height:1rem;
			color:rgb(19,174,47);
			overflow: hidden;
			margin-top: 1%;
			font:{
				size:(12/16)+rem;
				weight: normal;
				family: "SimHei";
			}
		}
		.over{
			color:rgb(153,153,153);
		}
		.picture{
			width:100%;
			height:(290/16/2)+rem;
			background:url("../images/success1.png") no-repeat 0px 0px;
			background-size: 100% 100%;
			margin-top: 1%;
		}
	}
}
@media screen and (max-width:320px){
	html,body{
		font-size: (320/320*16)+px;
	}
}
@media screen and (min-height:568px){
	html,body{
		font-size: (320/320*16)+px;
	}
	
}
@media screen and (min-width:360px){
	html,body{
		font-size: (360/320*16)+px;
	}
}
@media screen and (min-width:375px){
	html,body{
		font-size: (375/320*16)+px;
	}
}
@media screen and (min-width:384px){
	html,body{
		font-size: (384/320*16)+px;
	}
}
@media screen and (min-width:412px){
	html,body{
		font-size: (414/320*16)+px;
	}
}
@media screen and (min-width:454px){
	html,body{
		font-size: (454/320*16)+px;
	}
}
@media screen and (min-width:500px){
	html,body{
		font-size: (500/320*16)+px;
	}
}
@media screen and (min-width:550px){
	html,body{
		font-size: (550/320*16)+px;
	}
}
@media screen and (min-width:600px){
	html,body{
		font-size: (600/320*16)+px;
	}
}
@media screen and (min-width:650px){
	html,body{
		font-size: (650/320*16)+px;
	}
}
@media screen and (min-width:700px){
	html,body{
		font-size: (700/320*16)+px;
	}
}
@media screen and (min-width:750px){
	html,body{
		font-size: (750/320*16)+px;
	}
}
@media screen and (min-width:768px){
	html,body{
		font-size: (768/320*16)+px;
	}
}
@media screen and (min-width:800px){
	html,body{
		font-size: (800/320*16)+px;
	}
	#container,#container1,#container2,#container3,#container4,#container5,
	#container6,#container7,#container8,#container9,#container10,#container11,#container12
	,#container13,#container14{
		width:800px;
		margin:0 auto;
	}
}