* {
  padding: 0px;
  margin: 0px;
}

html, body {
  font-size: 16px;
  height: 100%;
  margin: 0px;
}

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1470146252_0435333.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1470146252_0435333.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1470146252_0435333.woff") format("woff"), url("//at.alicdn.com/t/font_1470146252_0435333.ttf") format("truetype"), url("//at.alicdn.com/t/font_1470146252_0435333.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
#container {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #f2f4f7;
}
#container .head {
  width: 100%;
  max-width: 800px;
  height: 2.84375rem;
  background-color: white;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid #e4e4e4;
}
#container .swiper-container {
  width: 92%;
  height: 2.84375rem;
  background-color: white;
}
#container .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-family: SimHei;
  color: black;
  white-space: nowrap;
  overflow: hidden;
}
#container .swiper-slide.active {
  font-size: 1rem;
  color: #13ae2f;
  border-bottom: 1px solid #13ae2f;
}
#container .body {
  width: 100%;
  margin: 0 auto;
  margin-top: 2.875rem;
  font-size: 0px;
}
#container .thumb_nail {
  width: 100%;
  background-color: white;
  position: relative;
  margin-bottom: 0.6875rem;
}
#container .thumb_nail .pic {
  width: 100%;
  height: 10rem;
  background: url("../images/recommend.png") no-repeat 0px 0px;
  background-size: 100% 100%;
}
#container .thumb_nail .price {
  width: 100%;
  height: 2.65625rem;
  font-size: 0px;
}
#container .thumb_nail .subject {
  max-width: 60%;
  display: inline-block;
  line-height: 2.65625rem;
  height: 2.65625rem;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 3%;
  color: #333333;
  font-size: 1rem;
  font-family: "Microsoft YaHei";
}
#container .thumb_nail a {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
#container .thumb_nail p {
  display: inline-block;
  float: right;
  max-width: 40%;
  padding-right: 3%;
  overflow: hidden;
  height: 2.65625rem;
  line-height: 2.65625rem;
  color: #999999;
  font-size: 0.75rem;
  font-family: "Microsoft YaHei";
}
#container .thumb_nail p .icon {
  color: #ff463c;
  font-size: 0.75rem;
}
#container .thumb_nail p .number {
  color: #ff463c;
  font-size: 1.5rem;
  font-family: "Microsoft YaHei";
}

#container1 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f2f4f7;
}
#container1 .top {
  width: 100%;
  background-color: #f2f4f7;
}
#container1 .top .head {
  width: 100%;
  height: 11.25rem;
  background: url("../images/product_info.png") no-repeat 0px 0px;
  background-size: 100% 100%;
}
#container1 .top .subject_intro {
  width: 100%;
  box-sizing: border-box;
  padding: 3%;
  padding-bottom: 2.5rem;
  font-size: 0px;
  background-color: white;
}
#container1 .top h1 {
  width: 100%;
  text-align: left;
  color: #333333;
  max-height: 2.4rem;
  overflow: hidden;
  margin-bottom: 2%;
  font-size: 1rem;
  font-family: "SimHei";
}
#container1 .top .price {
  display: inline-block;
  width: 50%;
  float: left;
  overflow: hidden;
}
#container1 .top p {
  width: 100%;
  text-align: left;
  color: #999999;
  font-size: 0.75rem;
  font-family: "SimHei";
}
#container1 .top .icon {
  color: red;
  font-size: 0.75rem;
  font-family: "SimHei";
}
#container1 .top .num {
  color: red;
  font-size: 1.5rem;
  font-family: "SimHei";
}
#container1 .main {
  width: 100%;
  background-color: white;
  margin-top: 0.6875rem;
  padding-top: 3%;
  padding-bottom: 3%;
}
#container1 .main h2 {
  width: 100%;
  box-sizing: border-box;
  padding-left: 3%;
  padding-right: 3%;
  line-height: 1.5;
  margin: 0 auto;
  font-size: 0.875rem;
  font-family: "Sim Hei";
}
#container1 .main p {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
  line-height: 1.5;
  color: #666666;
  font-size: 0.75rem;
  font-family: "Microsoft YaHei";
}
#container1 .display_pic {
  width: 100%;
  height: 14.78125rem;
  background: url("../images/product_info2.png") no-repeat 0px 0px;
  background-size: 100% 100%;
}
#container1 .bottom {
  position: fixed;
  width: 100%;
  height: 3.15625rem;
  bottom: 0px;
  font-size: 0px;
}
#container1 .bottom .order_online {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  width: 50%;
  height: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 3.15625rem;
  background-color: #13ae2f;
  font-size: 1rem;
  font-family: "Microsoft YaHei";
}
#container1 .bottom .call {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #666666;
  background-color: #f2f4f7;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  width: 50%;
  height: 100%;
  font-size: 1rem;
  font-family: "Microsoft YaHei";
  line-height: 3.15625rem;
}

#container2 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #f2f4f7;
}
#container2 .case {
  padding: 4%;
  background-color: white;
  margin-top: 0.6875rem;
}
#container2 .case h1 {
  width: 100%;
  height: 1rem;
  overflow: hidden;
  font-size: 0.875rem;
}
#container2 .case .picture {
  width: 100%;
  height: 9.0625rem;
  background: url("../images/success1.png") no-repeat 0px 0px;
  background-size: 100% 100%;
  margin-top: 4%;
}

#container4 {
  width: 100%;
  min-height: 100%;
  text-align: center;
  overflow: hidden;
}
#container4 .head {
  width: 100%;
  max-width: 800px;
  height: 2.84375rem;
  background-color: #13ae2f;
  position: fixed;
  z-index: 5;
}
#container4 .swiper-container {
  width: 92%;
  height: 2.84375rem;
  background-color: #13ae2f;
}
#container4 .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.9375rem;
  font-family: SimHei;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}
#container4 .swiper-container .active {
  font-size: 1.0625rem;
  border-bottom: 1px solid white;
}
#container4 div.pic {
  width: 100%;
  margin-top: 2.84375rem;
  height: 5.46875rem;
  background: url(../images/about_us.png) no-repeat 0px 0px;
  background-size: 100% 100%;
}
#container4 h1 {
  width: 100%;
  color: #333333;
  margin-top: 0.9375rem;
  font-size: 1rem;
  font-family: SimHei;
  font-weight: normal;
}
#container4 h2 {
  width: 100%;
  color: #333333;
  font-size: 0.875rem;
  font-family: "SimHei";
  font-weight: normal;
  text-align: left;
}
#container4 .paragraph {
  width: 94%;
  margin: 0 auto;
  line-height: 1.5;
  color: #666666;
  text-align: left;
  margin-bottom: 0.3125rem;
  font-size: 0.875rem;
  font-family: SimHei;
}

#container5 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
#container5 .head {
  width: 100%;
  max-width: 800px;
  height: 2.84375rem;
  background-color: #13ae2f;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid #e4e4e4;
}
#container5 .swiper-container {
  width: 92%;
  height: 2.84375rem;
  background-color: #13ae2f;
}
#container5 .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-family: SimHei;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}
#container5 .swiper-slide.active {
  font-size: 1rem;
  border-bottom: 1px solid white;
}
#container5 .main {
  width: 100%;
  margin-top: 2.84375rem;
  padding: 0 3% 3% 3%;
  box-sizing: border-box;
}
#container5 .main .news {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 3%;
  position: relative;
}
#container5 .main .news a {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
#container5 .main .news h1 {
  width: 100%;
  height: 2.46875rem;
  overflow: hidden;
  line-height: 2.46875rem;
  color: #333333;
  font-size: 1.125rem;
  font-family: "SimHei";
  font-weight: normal;
}
#container5 .main .news .picture {
  width: 100%;
  height: 9.0625rem;
  margin-bottom: 0.3rem;
  background: url("../images/news.png") no-repeat 0px 0px;
  background-size: 100% 100%;
}
#container5 .main .news span {
  width: 100%;
  display: block;
  text-align: right;
  color: #999999;
  font-size: 0.75rem;
  font-family: "Microsoft YaHei";
}

#container6 {
  width: 100%;
  min-height: 100%;
  background-color: #f2f4f7;
  overflow: hidden;
}
#container6 .recruit {
  width: 100%;
  margin-bottom: 0.625rem;
  background-color: white;
  padding-top: 0.9375rem;
  padding-bottom: 0.3125rem;
}
#container6 .recruit h1 {
  width: 92%;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.875rem;
  font-family: SimHei;
}
#container6 .recruit p {
  width: 92%;
  margin: 0 auto;
  margin-top: 0.625rem;
  font-size: 0.75rem;
  font-family: SimHei;
}
#container6 .recruit .date > span {
  color: #7b7b7b;
}
#container6 .recruit .num > span {
  color: #13ae2f;
}
#container6 .recruit ol {
  width: 92%;
  margin: 0 auto;
  margin-top: 0.625rem;
}
#container6 .recruit ol li {
  display: none;
  list-style-type: none;
  list-style-position: inside;
  counter-increment: mycount;
  line-height: 1.5;
  color: #7b7b7b;
  font-size: 0.625rem;
  font-family: SimHei;
}
#container6 .recruit ol li:before {
  content: counter(mycount,decimal) ".";
}
#container6 .recruit ol li:first-child {
  display: block !important;
}
#container6 .recruit .iconfont {
  width: 92%;
  margin: 0 auto;
  margin-top: 0.3125rem;
  display: block;
  text-align: center;
  font-family: "iconfont";
  font-size: 0.75rem;
  font-weight: bold;
  font-style: normal;
  color: #7b7b7b;
}

#container7 {
  width: 100%;
  min-height: 100%;
  text-align: center;
  overflow: hidden;
}
#container7 h1 {
  overflow: hidden;
  height: 1.2rem;
  line-height: 1.2rem;
  margin-top: 0.9375rem;
  margin-bottom: 0.625rem;
  font-size: 1rem;
}
#container7 h5 {
  margin-bottom: 0.8125rem;
  color: #c9c9c9;
  font-size: 0.75rem;
  font-weight: normal;
}
#container7 .pic {
  border: 1px solid #dddddd;
  width: 18.03125rem;
  height: 7.4375rem;
  margin: 0 auto;
  background: url("../images/index.png") no-repeat 0px 0px;
  background-size: 100% 100%;
}
#container7 .word {
  width: 18.03125rem;
  margin: 0 auto;
  padding-top: 0.9375rem;
}
#container7 .word p {
  text-align: left;
  text-indent: 2rem;
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: SimHei;
}
#container7 .word p:last-child {
  margin-bottom: 0.9375rem;
}

#container8 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
#container8 h1 {
  width: 100%;
  height: 1rem;
  overflow: hidden;
  text-align: center;
  margin-top: 0.9375rem;
  font-size: 1rem;
  font-family: SimHei;
  margin-bottom: 0.625rem;
}
#container8 h2 {
  width: 100%;
  height: 0.625rem;
  overflow: hidden;
  text-align: center;
  color: #999999;
  margin-bottom: 1.25rem;
  font-size: 0.625rem;
}
#container8 p {
  width: 92%;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: SimHei;
  text-indent: 2rem;
}

#container9 {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 15.625rem;
  box-sizing: border-box;
}
#container9 .lunbo {
  width: 100%;
  height: 9.46875rem;
  overflow: hidden;
  position: relative;
  list-style-type: none;
}
#container9 .lunbo li {
  width: 100%;
  height: 100%;
  position: absolute;
}
#container9 .lunbo li img {
  width: 100%;
  height: 100%;
}
#container9 .shadow {
  width: 100%;
  height: 1.90625rem;
  margin-top: -1.90625rem;
  position: relative;
}
#container9 .shadow span {
  color: white;
  margin-left: 4%;
  line-height: 1.90625rem;
  font-size: 0.875rem;
  font-family: "SimHei";
}
#container9 .shadow .count {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}
#container9 .shadow .count li {
  float: left;
  margin-right: 0.625rem;
  margin-top: 0.78125rem;
  height: 0.3125rem;
  width: 0.3125rem;
  border-radius: 50%;
  background-color: white;
}
#container9 .shadow .count .active {
  background-color: #13ae2f;
}
#container9 .menu {
  font-size: 0;
  padding-bottom: 3.46875rem;
  box-sizing: border-box;
}
#container9 .menu .part {
  display: inline-block;
  width: 45%;
  height: 6.0625rem;
  margin-left: 3.3%;
  margin-top: 3.3%;
  position: relative;
  border-radius: 0.3125rem;
}
#container9 .menu a {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
#container9 .menu span {
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
  color: white;
  height: 1.2rem;
  line-height: 1.2rem;
  overflow: hidden;
  font-size: 1rem;
  font-family: "Microsoft YaHei";
}
#container9 .menu .part1 {
  background: url("../images/index1.png") no-repeat center 25%;
  background-size: 2.25rem 2.9375rem;
  background-color: #ff1800;
}
#container9 .menu .part2 {
  background: url("../images/index2.png") no-repeat center 25%;
  background-size: 2.9375rem 2.5625rem;
  background-color: #ff5114;
}
#container9 .menu .part3 {
  background: url("../images/index3.png") no-repeat center 25%;
  background-size: 2.75rem 2.8125rem;
  background-color: #f09717;
}
#container9 .menu .part4 {
  background: url("../images/index4.png") no-repeat center 25%;
  background-size: 2.9375rem 2.125rem;
  background-color: #ce12d0;
}
#container9 .menu .part5 {
  background: url("../images/index5.png") no-repeat center 25%;
  background-size: 2.9375rem 2.53125rem;
  background-color: #ff1f9b;
}
#container9 .menu .part6 {
  background: url("../images/index6.png") no-repeat center 25%;
  background-size: 2.0625rem 2.75rem;
  background-color: #f2620b;
}
#container9 .menu .part7 {
  background: url("../images/index7.png") no-repeat center 25%;
  background-size: 2.90625rem 2.6875rem;
  background-color: #ee1b3c;
}
#container9 .menu .part8 {
  background: url("../images/index8.png") no-repeat center 25%;
  background-size: 2.46875rem 2.9375rem;
  background-color: #22b6e2;
}
#container9 .menu .part9 {
  background: url("../images/index9.png") no-repeat center 25%;
  background-size: 2.9375rem 2.28125rem;
  background-color: #7ec600;
}
#container9 .menu .part10 {
  background: url("../images/index10.png") no-repeat center 25%;
  background-size: 2.5rem 2.9375rem;
  background-color: #5c6fff;
}

#container3 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #f2f4f7;
  padding-bottom: 3.8125rem;
  box-sizing: border-box;
}
#container3 #wrap {
  width: 100%;
  height: 15rem;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5;
  background-color: white;
  border-bottom: 1px solid #dddddd;
}
#container3 #wrap .amap-logo img {
  display: none;
}
#container3 #wrap .amap-copyright {
  display: none;
}
#container3 #panel {
  width: 100%;
  margin-top: 15.6875rem;
  background-color: #f2f4f7;
}
#container3 #panel .amap_lib_placeSearch_list ul {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f4f7;
}
#container3 #panel .amap_lib_placeSearch_list ul li.poibox {
  width: 100%;
  height: 3.875rem;
  padding: 0px;
  position: relative;
  margin-top: 0.65625rem;
  background-color: white;
}
#container3 #panel .amap_lib_placeSearch_list ul li.poibox .poi-info {
  display: none;
}
#container3 #panel .amap_lib_placeSearch_list ul li.poibox .poibox-icon {
  width: 3.625rem;
  height: 3.875rem;
  display: inline-block;
  margin-left: 15.4375rem;
  background: url("../images/guide.png") no-repeat 50% 50%;
  background-size: 1rem 1.3125rem;
}
#container3 #panel .amap_lib_placeSearch_list ul li.poibox .poi-title {
  display: inline-block;
  width: 14.5rem;
  line-height: 3.875rem;
  height: 100%;
  overflow: hidden;
  color: #333333;
  box-sizing: border-box;
}
#container3 #panel .amap_lib_placeSearch_list ul li.poibox .poi-title span {
  font-size: 0.875rem;
  font-family: SimHei;
  line-height: 2.75rem;
}
#container3 #panel .amap_lib_placeSearch_list ul li.poibox .poi-title a {
  display: none;
}
#container3 #panel .amap_lib_placeSearch_page {
  display: none;
}
#container3 #panel .amap_lib_placeSearch {
  border: none;
}
#container3 #panel .amap_lib_placeSearch_poi {
  background: url(../images/guide.png) no-repeat 0px 0px;
  background-size: 0.9375rem 1.5625rem;
  height: 1.9375rem;
  width: 1.1875rem;
  left: -0.0625rem;
  font-size: 0px;
}
#container3 #panel .poibox {
  font-size: 0.75rem;
  min-height: 3rem;
}
#container3 #panel .amap_lib_placeSearch .poibox .poi-info p {
  line-height: 1.25rem;
}
#container3 #panel .poi-title {
  font-size: 0.8125rem;
  margin-left: 1.5625rem;
}

.nav {
  width: 100%;
  max-width: 800px;
  height: 3.15625rem;
  background-color: white;
  position: fixed;
  z-index: 999;
  bottom: 0px;
}
.nav ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
}
.nav ul li {
  width: 20%;
  height: 100%;
  float: left;
  text-align: center;
}
.nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
.nav ul li a .iconfont {
  display: block;
  font-family: "iconfont";
  font-weight: bold;
  height: 1.2rem;
  font-size: 1rem;
  font-style: normal;
  color: #7d8288;
  margin-top: 0.4375rem;
  margin-bottom: 0.4375rem;
}
.nav ul li a span {
  display: block;
  color: #7d8288;
  font-size: 0.625rem;
  font-family: SimHei;
}
.nav ul li.active .iconfont, .nav ul li.active span {
  color: #13ae2f;
}

#container11 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #f2f4f7;
  padding-bottom: 3.46875rem;
  box-sizing: border-box;
}
#container11 .message {
  width: 18rem;
  margin: 0 auto;
  height: 3.8125rem;
  background-color: white;
  overflow: hidden;
  margin-top: 1rem;
  border: 1px solid #13ae2f;
  box-sizing: border-box;
  border-radius: 0.3125rem;
}
#container11 .message a {
  width: 100%;
  display: inline-block;
  height: 100%;
  position: relative;
  text-decoration: none;
  color: #1dbdef;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  font-size: 0px;
}
#container11 .message a .company {
  display: block;
  width: 80%;
  line-height: 3.8125rem;
  padding-left: 3%;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  color: #13ae2f;
  font-size: 1rem;
  font-family: SimHei;
}
#container11 .message a .contact {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  background: url("../images/img.png") no-repeat 50% 125%;
  background-color: #13ae2f;
  background-size: 1.78125rem;
}

#container12 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #f2f4f7;
  box-sizing: border-box;
  padding-bottom: 3.46875rem;
}
#container12 .message {
  width: 18rem;
  margin: 0 auto;
  height: 3.8125rem;
  background-color: white;
  overflow: hidden;
  margin-top: 1rem;
  border: 1px solid #13ae2f;
  box-sizing: border-box;
  border-radius: 0.3125rem;
}
#container12 .message a {
  width: 100%;
  display: inline-block;
  height: 100%;
  position: relative;
  text-decoration: none;
  color: #1dbdef;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  font-size: 0px;
}
#container12 .message a .company {
  display: block;
  width: 80%;
  line-height: 3.8125rem;
  padding-left: 3%;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  color: #13ae2f;
  font-size: 1rem;
  font-family: SimHei;
}
#container12 .message a .contact {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  background: url("../images/img.png") no-repeat 50% 45%;
  background-color: #13ae2f;
  background-size: 1.78125rem;
}

#container13 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #f2f4f7;
  padding-bottom: 3.46875rem;
  box-sizing: border-box;
}
#container13 form {
  margin-bottom: 3.59375rem;
}
#container13 form .wrap {
  width: 100%;
  height: 2.8125rem;
  font-size: 0;
  background-color: white;
  border-bottom: 1px solid #e4e4e4;
  padding-left: 3%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3%;
  box-sizing: border-box;
}
#container13 form .wrap label {
  color: #333333;
  font-size: 1rem;
  font-family: "Microsoft YaHei";
}
#container13 form .wrap input {
  width: 85%;
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  line-height: 2.8125rem;
  padding-left: 3%;
  outline: none;
  border: none !important;
  font-size: 1rem;
  font-family: SimHei;
}
#container13 form .wrap input::-webkit-input-placeholder {
  text-align: left;
  color: #cccccc;
}
#container13 form .wrap_focus {
  border: #87C6F9 1px solid;
  box-shadow: inset 0 0 2px #67a6d9;
}
#container13 form textarea {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 0.625rem;
  border: 1px solid #dddddd;
  font-size: 1rem;
  font-family: SimHei;
  resize: none;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  box-sizing: border-box;
  outline: none;
}
#container13 form textarea:focus {
  border: 1px solid #87c6f9;
  box-shadow: inset 0 0 4px #67a6d9;
}
#container13 form textarea::-webkit-input-placeholder {
  text-align: left;
  color: #cccccc;
}
#container13 form button {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: 1.25rem;
  height: 2.75rem;
  background-color: #13ae2f;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1.125rem;
  -webkit-appearance: none;
}

#container14 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #f2f4f7;
}
#container14 .case {
  padding: 4%;
  background-color: white;
  margin-top: 0.6875rem;
  position: relative;
}
#container14 .case a {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
#container14 .case h1 {
  width: 100%;
  height: 1rem;
  overflow: hidden;
  font-size: 0.875rem;
}
#container14 .case h2 {
  width: 100%;
  height: 1rem;
  color: #13ae2f;
  overflow: hidden;
  margin-top: 1%;
  font-size: 0.75rem;
  font-weight: normal;
  font-family: "SimHei";
}
#container14 .case .over {
  color: #999999;
}
#container14 .case .picture {
  width: 100%;
  height: 9.0625rem;
  background: url("../images/success1.png") no-repeat 0px 0px;
  background-size: 100% 100%;
  margin-top: 1%;
}

@media screen and (max-width: 320px) {
  html, body {
    font-size: 16px;
  }
}
@media screen and (min-height: 568px) {
  html, body {
    font-size: 16px;
  }
}
@media screen and (min-width: 360px) {
  html, body {
    font-size: 18px;
  }
}
@media screen and (min-width: 375px) {
  html, body {
    font-size: 18.75px;
  }
}
@media screen and (min-width: 384px) {
  html, body {
    font-size: 19.2px;
  }
}
@media screen and (min-width: 412px) {
  html, body {
    font-size: 20.7px;
  }
}
@media screen and (min-width: 454px) {
  html, body {
    font-size: 22.7px;
  }
}
@media screen and (min-width: 500px) {
  html, body {
    font-size: 25px;
  }
}
@media screen and (min-width: 550px) {
  html, body {
    font-size: 27.5px;
  }
}
@media screen and (min-width: 600px) {
  html, body {
    font-size: 30px;
  }
}
@media screen and (min-width: 650px) {
  html, body {
    font-size: 32.5px;
  }
}
@media screen and (min-width: 700px) {
  html, body {
    font-size: 35px;
  }
}
@media screen and (min-width: 750px) {
  html, body {
    font-size: 37.5px;
  }
}
@media screen and (min-width: 768px) {
  html, body {
    font-size: 38.4px;
  }
}
@media screen and (min-width: 800px) {
  html, body {
    font-size: 40px;
  }

  #container, #container1, #container2, #container3, #container4, #container5,
  #container6, #container7, #container8, #container9, #container10, #container11, #container12
  , #container13, #container14 {
    width: 800px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
